
activemq {

	org.apache.activemq.artemis.spi.core.security.jaas.GuestLoginModule sufficient 
        debug=true
       credentialsInvalidate=true
       org.apache.activemq.jaas.guest.user="guest"
       org.apache.activemq.jaas.guest.role="guests";
	   
   org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule required
       debug=true
       reload=true
       org.apache.activemq.jaas.properties.user="artemis-users.properties"
       org.apache.activemq.jaas.properties.role="artemis-roles.properties";

};


CertLogin {
	org.apache.activemq.artemis.spi.core.security.jaas.TextFileCertificateLoginModule required
	debug=true
	reload=true
	org.apache.activemq.jaas.textfiledn.user="../../broker-truststore-users-roles/cert-users.properties"
    org.apache.activemq.jaas.textfiledn.role="../../broker-truststore-users-roles/cert-roles.properties";
                                             

};

