
activemq {
   org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://10.220.22.8:10389"
        connectionUsername="uid=admin,ou=system"
        connectionPassword=${LDAP_BIND_PASSWORD}
        connectionProtocol=s
        authentication=simple
        userBase="dc=example,dc=com"
        userSearchMatching="(uid={0})"
        userSearchSubtree=true
        roleBase="dc=example,dc=com"
        roleName=cn
        roleSearchMatching="(member={0})"
        roleSearchSubtree=true
        ;
};
